# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Coding Portfolio\Udemy\100-Days-of-Code-The-Complete-Python-Pro-Bootcamp\Day30MyPassWithError\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
